<footer>
    <div class="social-links">
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-youtube"></i></a>
    </div>
    <p>Copyright © MovieDB. All Rights Reserved</p>
</footer>