<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./partials/head.ejs') %>

    <title>MovieDB</title>
</head>
<body>

    <div class="site-top">
    
    <%- include('./partials/navbar.ejs') %>

    <main class="error">
        <div class="container">
            <h1>Error 404</h1>
            <h3>This page does not exist.</h3>
        </div>
    </main>

    </div>

    <%- include('./partials/footer.ejs') %>
  
</body>
</html>